<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <script src="/public/src/phones.js"></script> 
    <script src="/public/src/addPhone.js"></script>
    <script src="/public/src/addReview.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">
    <title>Phone Database</title>
</head>
<body>
    <a href="/" class="nav" id="home">Home</a>
    <a href="/companies" class="nav">Companies</a>
    <a href="/phones/thisyear" class="nav">This Year's Phones</a>
    <a href="/phones/popular" class="nav">Popular</a>
    <a href="/phones/pick" class="nav">Pick My Next Phone</a>
    <a href="/phones/phablets" class="nav">Phablets</a>
    <br>
    <br>
    {{{body}}}
</body>
</html>

