<div id="addDetails">
    <form action="">
        <input type="text" placeholder="Name" id="name" class="form">
        <input type="text" placeholder="Manufacturer" id="manufacturer" class="form">
        <input type="text" placeholder="Year Released" id="year" class="form">
        <input type="text" placeholder="Image Link" id="img" class="form">
        <input type="text" placeholder="Screen Size" id="size" class="form">
    </form>
</div>

<div id= "submitBox">   
    <button id="submitPhone">Submit</button>
</div>