<h1 id="name">{{{name}}}</h1>
<h2>Add a Review</h2>
<div id="addDetails">
    <form>
        <input type="text" placeholder="Author" id="author" class="form">
        <input type="number" min="1" max="5" step="0.1" id="rating" placeholder="Rating between 1.0 and 5.0" class="form">
        <textarea placeholder="Review" id="comment" cols="30" rows="10" class="form"></textarea>
    </form>
</div>

<div id="submitBox">
    <button id="submitReview">Submit</button>
</div>